.header {
  width: 200px;
  height: 200px;
  background-color: pink;
}
.header a {
  color: skyblue;
}
.header a:hover {
  color: red;
}
.nav {
  width: 200px;
  height: 200px;
  background-color: skyblue;
}
.nav::before {
  content: "";
  background-color: skyblue;
}
.nav .logo {
  background-color: green;
}
.test {
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 500px) {
  .test {
    background-color: skyblue;
  }
}
