/* css初始化 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

/* .banner和浏览器一样大 */
html,
body,
.banner {
    width: 100%;
    height: 100%;
}

.banner {
    position: relative;
    overflow: hidden;
    background: url(../images/banner.jpeg) no-repeat top center/cover;
}

.banner img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.pic1 {
    top: 110px;
}

.pic2 {
    top: 425px;
}

.pic3 {
    top: 520px;
}

.boxshadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 52px;
    background: url(../images/linearbot.png) repeat-x;
}

/* 导航栏模块 */
.topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 1;
}

/* 版心 */
.w {
    width: 960px;
    height: 75px;
    margin: 0 auto;
}

.logo {
    float: left;
}

.logo a {
    overflow: hidden;
    display: block;
    width: 106px;
    height: 76px;
    background: url(../images/imlogo_b.png) no-repeat left center;
}

.logo a h1 {
    text-indent: -999px;
}

.nav {
    float: left;
    margin-left: 35px;
}

.nav li {
    float: left;
    margin-right: 15px;
}

.nav li a {
    display: block;
    height: 76px;
    line-height: 76px;
    padding: 0 20px;
    font-size: 18px;
}

.nav .active a {
    background-color: #46b7f6;
}

.tools {
    float: right;
}

.tools li {
    float: left;
}

.tools li a {
    display: block;
    height: 76px;
    line-height: 76px;
    padding: 0 20px;
    font-size: 18px;
}

.tools li a:hover {
    color: #46b7f6;
}

.tools .zhuce {
    margin-top: 18px;
    height: 40px;
    width: 96px;
    background: url(../images/icons.png) no-repeat 0 -244px;
}

.tools .zhuce:hover {
    background: url(../images/icons.png) no-repeat 0 -284px;
}

.content h1 {
    height: 321px;
    background-color: fff;
    text-align: center;
}

.first {
    height: 600px;
    background: url(../images/bg1.jpg) no-repeat top center/cover fixed;
}

.gt,
.second-gt {
    height: 584px;
    background-color: #fff;
}

.gt .w {
    height: 584px;
    position: relative;
    overflow: hidden;
}

.gt img {
    position: absolute;
    bottom: 0;
}

.second {
    height: 600px;
    background: url(../images/bg2.jpg) no-repeat top center/cover fixed;
}

.second-gt .w {
    height: 584px;
    position: relative;
    overflow: hidden;
}

.second-gt img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.footer {
    height: 286px;
    background-color: #2a2a2a;
}